<h2>Log in to your account</h2>

<!--This unordered list will display
flash messages regarding authentication/sign-up-->
<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<form method="POST" action="/login/">
    Username: <input name="username"/><br>
    Password: <input type="password" name="password"/>

    <input type="submit" value="Sign in">
</form>

<p>If you don't have an account, you can
    <a href="/signup">Sign up here</a>
</p>

<h2>Log in with Twitter</h2>

<p>Or you can <a href="/auth/twitter">use your Twitter account to sign in.</a></p>